<img src="../../../assets/images/kirk.gif" />

<h1>{{ 'Personal.Titulo' | translate }}</h1>

<div class="ui-g">
  <div class="ui-g-3">
    <label for="fullName">Nombre: </label>
  </div>
  <div class="ui-g-9">
    <input id="fullName" type="text" [(ngModel)]="persona.fullName" />
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-3">
    <label for="fullName">Grado: </label>
  </div>
  <div class="ui-g-9">
    <input id="fullName" type="text" [(ngModel)]="persona.grade" />
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-3">
    <label for="fullName">Url: </label>
  </div>
  <div class="ui-g-9">
    <input id="fullName" type="text" [(ngModel)]="persona.imageUrl" />
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12">
    <button (click)="saveNewPersona()">Guardar</button>
    <button (click)="clear()">Limpiar</button>
  </div>
</div>

<p-dataView [value]="personaList">
  <ng-template let-persona pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <img src="{{persona.imageUrl}}" style="height: 8em;" />
      </div>
      <div class="ui-g-12 ui-md-8 car-details">
        <div class="ui-g">
          <div class="ui-g-3 ui-sm-6">Nombre:</div>
          <div class="ui-g-9 ui-sm-6">
            <b>{{ persona.fullName }}</b>
          </div>

          <div class="ui-g-3 ui-sm-6">Grado:</div>
          <div class="ui-g-9 ui-sm-6">
            <b>{{ persona.grade }}</b>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
